.userBgShado{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.messageBG{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.problemImage{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
.problemImageMainBG{
    border-style: inset;
}
.btnInset{
    border-style: inset;
}
.ionHover:hover{
    cursor: pointer; 
    transition: padding 0.3s ease; 
    padding: 0.5px;
}
.btnShado{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}